<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">

        <title>Eat Da Burger!</title>

        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Poor+Story" rel="stylesheet">

         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

         <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>

    </head>

    <body>

        {{{body}}}

         <footer class="page-footer red lighten-2">
            
            <div class="footer-copyright">
              <div class="container">
              © 2018 David Rausch
              <a href="https://github.com/drausch84" target = "_blank" class = "right">David Rausch Projects</a>
              </div>
            </div>
          </footer>
    </body>
</html>