html {
    background-color: black;
}

body {

    width: 75%;
   margin: 0 auto; 

   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: limegreen;
}

#cool-burger {
    display: block;
   margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Poor Story', cursive;
    font-size: 65px;
    margin: 50px;
}

.burgerAvailable {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: burlywood;
    border: none;
}

.burgerAvailable:hover {
    background-color: gray;
}

.burgerEaten {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: burlywood;
}

h2 {
     text-align: center;
    font-family: 'Poor Story', cursive;
    font-size: 40px;
    margin: 50px;
}

.formContainer {
    background-color: #e57373;
}

.addBurgerButton {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #e57373;
    border: none;
}

.addBurgerButton:active {
   background-color:#e57373;
}

.burgerFooter {
   background-color: #e57373;
   padding: 20px 0;
}
a{
    font-family: 'Gloria Hallelujah', cursive;
    color: black;
}